@model HumanResourcesManagmentCapstone.ViewModel.AttendanceViewModel
@{
    ViewBag.Title = "DatePicker";
}
@using (Html.BeginForm())
{
    <br />
    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "datepicker" } })
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@section scripts{


    <script src="~/Scripts/jquery-ui-1.12.0.min.js"></script>
    <script>

        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                // Start Date. 
                minDate: new Date(2017, 0, 1),
                showOn: "both",
                buttonText : "<i class='fa fa-calendar'></i>"
            });
        });
    </script>
}

<br />
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</div>
</div>
}
